<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\artifacts\publish\SimTrackerV2-win-x64\</PublishDir>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <UseAppHost>true</UseAppHost>
  </PropertyGroup>
</Project>
